.section {
  margin-bottom: 40px;
}

.heading {
  margin-bottom: 20px;
  font-weight: bold;
}

.listItemText {
  margin-bottom: 12px;
}

.homeContainer {
  padding: 16px;
}

.listBox {
  text-align: center;
}

@media (max-width: 767px) {
  .homeContainer {
    margin-left: 0 !important;
  }
}