:root {
    --light-purple-ccbed-0-40: rgba(204, 190, 208, 0.4);
}

.inputBox {
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;

}

.inputBoxLabel {
    margin-right: 10px;
}

.workspaceDropDown {
    padding-left: 8px;
    padding-top: 30px;
}

.checkBoxGroup {
    padding-left: 8px;
}

.addWorkspaceButton {
    padding-top: 30px !important;
}

.dataPicker {


    width: 100%;

    [class~='MuiInputBase-root'] {
        border: solid 1px var(--light-purple-ccbed-0-40)
    }



    [class~='Mui-error'] {
        border-color: red
    }

    [class~='MuiOutlinedInput-notchedOutline'] {
        border: none;
    }
}

.errorDate {
    [class~='MuiInputBase-root'] {
        border: solid 1px red !important
    }
}

.errorMsg {
    color: red;
    width: 100%;
    text-align: left;
    font-size: 12px !important;
}